*{box-sizing:border-box}
body{
 margin:0;
 font-family:Arial;
 background:#020617;
 color:white;
}
header,footer{text-align:center;padding:20px}
.container{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
 gap:20px;
 padding:20px;
}
.box{
 border:1px solid #22c55e;
 border-radius:10px;
 padding:20px;
}
h2,h3{color:#22c55e}
input,select,button{
 width:100%;
 padding:12px;
 margin-top:10px;
 border-radius:6px;
 border:none;
}
button{
 background:#22c55e;
 font-weight:bold;
 cursor:pointer;
}
.cart-item{border-bottom:1px solid #334155;padding:10px}
